[
	{
		"subreddit": "sandbox",
		"username": "reddit-poster",
		"password": "example",
		"title": "Test Submission 1",
		"text": "This is a test submission.",
		"date": true,
		"time": {
			"day": 4,
			"hour": 12,
			"minute": 43
		},
		"topics": "/Users/michael/Dropbox/Documents/CollegeBros/Topics.txt"
	},
	{
		"subreddit": "sandbox",
		"username": "reddit-poster",
		"password": "example",
		"title": "Test Submission 2",
		"text": "This is another test submission.",
		"date": false,
		"time": {
			"day": 3,
			"hour": 10,
			"minute": 4
		}
	}
]
