[
	{
		"subreddit": "sandbox",
		"username": "reddit-poster",
		"password": "example",
		"title": "Test Submission 1",
		"text": "This is a test submission.",
		"time": {
			"day": 3,
			"hour": 10,
			"minute": 3
		}
	},
	{
		"subreddit": "sandbox",
		"username": "reddit-poster",
		"password": "example",
		"title": "Test Submission 2",
		"text": "This is another test submission.",
		"time": {
			"day": 3,
			"hour": 10,
			"minute": 4
		}
	}
]
